<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
   
    <link href="https://fonts.googleapis.com/css2?family=Kotta+One&display=swap" rel="stylesheet">
   
  
  <style type="text/css">
  
  body{
  margin: 0;
  padding: 0;
   height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  }
  
  
  </style>
</head>

<body>
  <div align="center" class="weight" style="font-family: 'Kotta One', serif;">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
               
                    <h2 class="text-whitesmoke">SpringSecurityMysql</h2>
                      <p class="text-whitesmoke">Registration Form</p>
                    
                <div class="container-content">
                    <form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="margin-t">
					
					<div class="form-group" >						
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control"/> 
								<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						</div>
					
                    <br/>
					<div class="form-group">
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /> 
								<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
						</div>
					
					<br/>
					<div class="form-group">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					
					<br/>
					<div class="form-group">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					
					<br/>
                        <button type="submit" class="form-button button-l margin-b">Register</button>
        
                        <p><a class="text-whitesmoke" href="#"><small>Forgot your login?</small></a></p>
                        
                        <p><a class="text-darkyellow" href="/login">Sign In</a></p>
                    </form>
                    <p class="margin-t text-whitesmoke"><small> com.company &copy; 2020</small> </p>
                    <br/>
                </div>
            </div>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <SCRIPT LANGUAGE="JavaScript">
if (window != top) top.location.href = location.href;
</SCRIPT> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br/>
<br/>
<br/>
</body>
</html>